<h1>Band Sign Up</h1>

<% if flash[:errors] %>
  <ul> <% flash[:errors].each do |error| %>
    <li> <%= error %> </li>
  <% end %>
  </ul>
<% end %>

<form action=" <%= bands_url %> " method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="band_name">Band Name:</label>
  <input type="text" id="user_name" name="band[name]">

  <input type="submit" value="SUBMIT">
</form>
